.feature-main {
  padding-top: 50px;
  position: relative;
  background-color: #f5f5f5;
  background-image: url('../image/features_rendering_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.feature-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.feature-fullcontainer{
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.feature {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.feature .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.container {
  /* position: relative;
  z-index: 2; */
      padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: 100%;
}

.feature-content h1,
.display-4 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.feature-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.feature-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.feature-credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  color: white;
  opacity: 0.7;
  font-size: 1rem;
  font-family: var(--fontBig);
}

.container-second {
  /* position: relative;
  z-index: 2; */
      padding-left: 1.6rem;
    padding-right: 1.6rem;
    width: 100%;
    margin-top: -160px;
}

.wp-block-group {
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    z-index: 4;
    border-radius: 10px;
}

/* Responsive text for smaller screens */
/* @media (max-width: 768px) {
  .feature-content h1,
  .display-4 {
    font-size: 2.5rem;
  }
} */
